head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='imagetoolbar' content='no')
    meta(name='msthemecompatible' content='no')
    meta(name='cleartype' content='on')
    meta(name='HandheldFriendly' content='True')

    meta(name='format-detection' content='telephone=no')
    meta(name='format-detection' content='address=no')

    meta(name='google' value='notranslate')

    //- Sharing meta
    meta(property="og:title" content="Мое сердце подсказало мне как помочь детям.")
    meta(property="og:description" content="Добро живёт в сердце каждого, нужно лишь прислушаться. Узнай, что скажет твоё сердце.")
    meta(property="og:image" content="https://heart.changeonelife.ru/images/sharing/sharing.jpg")
    
    meta(property="og:url" content="https://heart.changeonelife.ru")
    meta(property="og:site_name" content="Сердце подскажет")

    title Сердце подскажет
    meta(name='description' content='Добро живёт в сердце каждого, нужно лишь прислушаться. Узнай, что скажет твоё сердце.')
    meta(name='keywords' content='Прислушайтесь к своему сердцу, чтобы стать настоящим ангелом-хранителем')
