template(name="addVideo")
	.add
		.addVideo
			.h3 Добавить видео

			form
				.form-group
					label Видеофайл в формате h264:
					input(type="file" readonly="" name="image").file-upload

				br
				br
				button(type="submit" class="btn btn-default" )
					.fa.fa-check
					| Сохранить

				a(href="/admin/" class="btn btn-danger cancel" )
					.fa.fa-times
					| Отмена
