template(name="childrenList")
	table.table
		thead
			tr
				th #
				th Имя
				th Локация
				th Url
				th 

		tbody
			each childrens
				tr
					td {{count @index}}
					td {{name}}
					td {{location}}
					td: a(href="{{url}}")
					td: a.delete-button(href="#"): span Удалить
