template(name='prepare')
    .prepare            
        img.small-heart-logo(src='images/icons/logo-heart.svg')
            
        .manual
            .manual__steps
                .manual__step
                    .manual__step-icon
                        img.manual__step-icon__img(src="images/icons/icon-camera.svg")
                    .manual__step-text
                        | Включите веб-камеру,<br>чтобы считать ваш пульс
                        
                .manual__step
                    img.manual__step-icon__arrow(src="images/icons/icon-arrow.svg")
                    
                .manual__step    
                    .manual__step-icon
                        img.manual__step-icon__img(src="images/icons/icon-mac.svg")
                    .manual__step-text
                        | Посмотрите ролик<br>с видеоанкетами детей
                        
                .manual__step
                    img.manual__step-icon__arrow(src="images/icons/icon-arrow.svg")

                .manual__step    
                    .manual__step-icon
                        img.manual__step-icon__img(src="images/icons/icon-result.svg")
                    .manual__step-text
                        | Узнайте, кто из детей<br>тронул ваше сердце

            
            .button.goNext начать просмотр
        
        
        .disclaimer Мы не записываем видео и не сохраняем его. Ваши данные не передаются третьим лицам. 
