template(name="result")
    .result
        img.small-heart-logo(src='images/icons/logo-heart.svg')

        .measure-top
        .measure-bottom

        .bgs
            .background(style="background-image: url({{children.image}})")
            .overlay
            .pattern

        .heartrate {{heartrate}} <span>точность &#60; 100%</span>
        
        if children.highlighted
            .child
                .child__name {{children.name}}

                .child__location {{children.location}}

                .child__description Похоже, именно этот ребенок показался<br>вам особенным, ведь когда вы увидели<br>его, ваше сердце забилось немного чаще.<br>Узнайте о ребёнке больше из нашей анкеты<br>и станьте для него
                    span.guardian Ангелом-Хранителем!
                        span.guardian-text Ангелы-хранители — это те, кто пока<br>не готов взять ребенка в семью,<br>но искренне переживает и хочет<br>помочь. Они распространяют информацию в социальных сетях, становясь связующим звеном между детьми из приютов и приемными родителями, помогая ребятам в самом главном — найти любящую семью.

                    p Это поможет ему быстрее найти родителей.

                .buttons-wrap
                    a(href="{{children.url}}" target="_blank").button Перейти к анкете

                .child__sharing Поделиться проектом
                    .child__social
                        a.button.social-button(href="{{shareOnFacebookLink}}" target="_blank")
                             i.fa.fa-facebook
                        a.button.social-button.social-vk(href="{{shareOnVkontakteLink}}" target="_blank")
                            i.fa.fa-vk
                        a.button.social-button(href="{{shareOnOdnoklassnikiLink}}" target="_blank")
                            i.fa.fa-odnoklassniki
        else
            .child
                .child__name {{children.name}}

                .child__location {{children.location}}

                .child__description Помочь можно каждому из детей!<br>Если вам больше запомнился именно этот ребенок, узнайте о нём побольше на нашем сайте и станьте ему
                    span.guardian Ангелом-Хранителем
                        span.guardian-text Ангелы-хранители — это те, кто пока<br>не готов взять ребенка в семью,<br>но искренне переживает и хочет<br>помочь. Они распространяют информацию в социальных сетях, становясь связующим звеном между детьми из приютов и приемными родителями, помогая ребятам в самом главном — найти любящую семью.
                        
                    p чтобы осуществить его мечту о семье!

                .buttons-wrap
                    a(href="{{children.url}}" target="_blank").button Перейти к анкете

                .child__sharing Поделиться проектом
                    .child__social
                        a.button.social-button(href="{{shareOnFacebookLink}}" target="_blank")
                             i.fa.fa-facebook
                        a.button.social-button.social-vk(href="{{shareOnVkontakteLink}}" target="_blank")
                            i.fa.fa-vk
                        a.button.social-button(href="{{shareOnOdnoklassnikiLink}}" target="_blank")
                            i.fa.fa-odnoklassniki

        .childrens-wrap
            each childrens
                .children__pulse
                    img.pulse(src="images/pulse/{{pulse}}")

        .childrens-img-wrap
            each childrens
                .children__img
                    a(href="{{_id}}" class="{{highlighted}}")
                        .children__border
                        .children__overlay
                        img(src="{{image}}")
