.adminPanel
	padding 40px 40px
	background-color #fff
	border 1px solid #7f48bb
	opacity .8

	.h3
		font-weight bold

		small
			border-bottom 1px solid rgba(0, 100, 168, .2)
			color #0064a8
			font-weight bold
			cursor pointer
			float right
