@keyframes blinking {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scaleDown {
	0% {
		top: 40%;
		transform: scale(1) translateY(-50%);
	}
	100% {
		top: 0;
		transform: scale(0.4) translateY(0%);
	}
}

@keyframes scaleUp {
	0% {
		top: 0;
		transform: scale(0.4) translateY(0%);
	}
	100% {
		top: 40%;
		transform: scale(1) translateY(-50%);
	}
}

@keyframes fadeOutUp {
	0% {
		top: 40%;
		opacity: 1;
	}
	100% {
		top: 20%;
		opacity: 0;
	}
}

@keyframes fadeInDown {
	0% {
		top: 20%;
		opacity: 0;
	}
	100% {
		top: 40%;
		opacity: 1;
	}
}

@keyframes refadeInDown {
	0% {
		top: 20%;
		opacity: 0;
	}
	100% {
		top: 50%;
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		top: 65%;
		opacity: 0;
	}
	100% {
		top: 50%;
		opacity: 1;
	}
}

@keyframes fadeOutDown {
	0% {
		top: 50%;
		opacity: 1;
	}
	100% {
		top: 65%;
		opacity: 0;
	}
}

@keyframes refadeOutUp {
	0% {
		top: 50%;
		opacity: 1;
	}
	100% {
		top: 20%;
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		visibility: visible;

	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

.blinking
	.ch
		animation-name: blinking
		animation-fill-mode: both
		animation-duration: 1s
		animation-iteration-count: infinite

	.c-2
		animation-delay: .2s

	.c-3
		animation-delay: .4s

	.c-4
		animation-delay: .6s

	.c-5
		animation-delay: .8s

.scroll-down.fadeIn
		animation-name: fadeIn
		animation-duration: .5s
		animation-fill-mode: both

.scroll-down.fadeOut
	animation-name: fadeOut
	animation-duration: .5s
	animation-fill-mode: both

.welcome.step1down
	.step1
		.big-logo
			animation-name: scaleDown
			animation-duration: .4s
			animation-fill-mode: both

		.text
			animation-name: fadeOutUp
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .2s

		.scroll-down
			animation-name: fadeOut
			animation-duration: .5s
			animation-fill-mode: both
			// animation-delay: .6s

	.step2
		.text
			animation-name: fadeInUp
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .5s

		.scroll-down
			animation-name: fadeIn
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .7s

.welcome.step2up
	.step1
		.big-logo
			animation-name: scaleUp
			animation-duration: .4s
			animation-fill-mode: both
			animation-delay: .5s

		.text
			animation-name: fadeInDown
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .3s

		.scroll-down
			animation-name: fadeIn
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .3s

	.step2
		.text
			animation-name: fadeOutDown
			animation-duration: .5s
			animation-fill-mode: both

		.scroll-down
			animation-name: fadeOut
			animation-duration: .5s
			animation-fill-mode: both
			// animation-delay: 1s

.welcome.step2down
	.step1
		.big-logo
			animation-name: scaleDown
			animation-duration: .4s
			animation-fill-mode: both

		.text
			animation-name: fadeOutUp
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .2s

		.scroll-down
			animation-name: fadeOut
			animation-duration: .5s
			animation-fill-mode: both
			// animation-delay: .6s

	.step2
		.text
			animation-name: refadeOutUp
			animation-duration: .5s
			animation-fill-mode: both

		.scroll-down
			animation-name: fadeOut
			animation-duration: .5s
			animation-fill-mode: both
			// animation-delay: 1s

	.step3
		.text
			animation-name: fadeInUp
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .5s

		.scroll-down
			animation-name: fadeIn
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .7s

.welcome.step3up
	.step1
		.big-logo
			animation-name: scaleDown
			animation-duration: .4s
			animation-fill-mode: both

		.text
			animation-name: fadeOutUp
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .2s

		.scroll-down
			animation-name: fadeOut
			animation-duration: .5s
			animation-fill-mode: both
			// animation-delay: .6s

	.step2
		.text
			animation-name: refadeInDown
			animation-duration: .5s
			animation-fill-mode: both
			animation-delay: .3s

		.scroll-down
			animation-name: fadeIn
			animation-duration: .5s
			animation-fill-mode: both
			// animation-delay: 1s

	.step3
		.text
			animation-name: fadeOutDown
			animation-duration: .5s
			animation-fill-mode: both

		.scroll-down
			animation-name: fadeOut
			animation-duration: .5s
			animation-fill-mode: both
			// animation-delay: 1s

.step1.animated
	.big-logo
		animation-name: scaleDown
		animation-duration: .4s
		animation-fill-mode: both

	.text
		animation-name: fadeOutUp
		animation-duration: .5s
		animation-fill-mode: both
		animation-delay: .2s

	.scroll-down
		animation-name: fadeOut
		animation-duration: .5s
		animation-fill-mode: both
		// animation-delay: .6s

.step1.unanimated
	.big-logo
		animation-name: scaleUp
		animation-duration: .4s
		animation-fill-mode: both
		animation-delay: .5s

	.text
		animation-name: fadeInDown
		animation-duration: .5s
		animation-fill-mode: both
		animation-delay: .3s

	.scroll-down
		animation-name: fadeIn
		animation-duration: .5s
		animation-fill-mode: both
		animation-delay: .3s

.step2.animated
	.text
		animation-name: fadeInUp
		animation-duration: .5s
		animation-fill-mode: both
		animation-delay: .5s

	.scroll-down
		animation-name: fadeIn
		animation-duration: .5s
		animation-fill-mode: both
		animation-delay: .7s

.step2.unanimated
	.text
		animation-name: fadeOutDown
		animation-duration: .5s
		animation-fill-mode: both

	.scroll-down
		animation-name: fadeOut
		animation-duration: .5s
		animation-fill-mode: both
		// animation-delay: 1s

.step2.reanimated
	.text
		animation-name: refadeOutUp
		animation-duration: .5s
		animation-fill-mode: both

	.scroll-down
		animation-name: fadeOut
		animation-duration: .5s
		animation-fill-mode: both
		// animation-delay: 1s

.step2.backanimated
	.text
		animation-name: refadeInDown
		animation-duration: .5s
		animation-fill-mode: both
		animation-delay: .3s

	.scroll-down
		animation-name: fadeIn
		animation-duration: .5s
		animation-fill-mode: both
		// animation-delay: 1s

.step3.animated
	.text
		animation-name: fadeInUp
		animation-duration: .5s
		animation-fill-mode: both
		animation-delay: .5s

	.scroll-down
		animation-name: fadeIn
		animation-duration: .5s
		animation-fill-mode: both
		animation-delay: .7s

.step3.reanimated
	.text
		animation-name: fadeOutDown
		animation-duration: .5s
		animation-fill-mode: both

	.scroll-down
		animation-name: fadeOut
		animation-duration: .5s
		animation-fill-mode: both
		// animation-delay: 1s
