@import 'nib'

global-reset()
normalize-base()

*
    box-sizing: border-box

html, body
    width: 100%
    height: 100%
    overflow: hidden

    a
        text-decoration: none

body.admin
	overflow auto
