.bgs
    width: 100%
    height: 100%
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    margin: auto
    z-index: 0

    .background
        width: inherit
        height: inherit
        position: fixed
        top: 0
        left: 0
        right: 0
        left: 0
        margin: auto
        z-index: 0
        background: url(images/backgrounds/welcome.jpg)
        background-size: cover

    .overlay
        width: inherit
        height: inherit
        position: fixed
        top: 0
        left: 0
        right: 0
        left: 0
        margin: auto
        z-index: 1
        background: url(images/backgrounds/welcome-overlay.png)
        background-size: cover
        opacity: .6

    .pattern
        width: inherit
        height: inherit
        position: fixed
        top: 0
        left: 0
        right: 0
        left: 0
        margin: auto
        z-index: 2
        background: url(images/backgrounds/welcome-pattern.png)
        opacity: .7

    .fullscreen-bg {
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        overflow: hidden
        z-index: -100
    }

    .fullscreen-bg__video {
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    }

    @media (min-aspect-ratio: 16/9) {
        .fullscreen-bg__video {
            height: 300%
            top: -100%
        }
    }

    @media (max-aspect-ratio: 16/9) {
        .fullscreen-bg__video {
            width: 300%
            left: -100%
        }
    }
