.button
    width: 160px
    height: 60px
    font-family: 'Intro', sans-serif
    font-size: 20px
    border: 1px solid #fff
    text-transform: uppercase
    line-height: 60px
    text-align: center
    cursor: pointer
    color: white
    display: inline-block
    transition: background-color .2s ease-out

    &:hover
        background-color: rgba(255, 255, 255, .2)
