@keyframes animated-heart-icon {
    100% { background-position: -23520px; }
}

.check
    color: white
    text-align: center
    font-family: 'Gill Sans', sans-serif
    width 255px
    height 300px
    position absolute
    top 0
    bottom 0
    right 0
    left 0
    z-index: 1
    margin auto
    display inline-block
    font-weight 200

    .check-step
        position absolute
        height 195px

    .check-step__icon
        height 88px
        margin-bottom 25px

    .check-step__text
        font-size 20px
        line-height 22px
        width: 255px
        margin-bottom 25px

    .check-step__progress-icon
        display: inline-block
        width: 98px
        height 75px
        margin-bottom 20px
        // animation: animated-heart-icon 10s steps(240)
        background: url('images/sprites/animated-heart-icon.png') left center

    .check-step__progress-text
        font-size 16px

    .check-progress
        position relative
        margin-top: 200px

    .check-step__progress-animation
        position absolute
        opacity .3

    .check-step__progress-percents
        position absolute
        width 255px
        top 22px
        font-size: 24px
        font-family: 'Gill Sans', sans-serif
        font-weight: bold
