.change-one-life-logo
    width 64px
    height 45px
    background url(images/icons/change-one-life-logo.svg) no-repeat
    position absolute
    right 20px
    bottom 25px
    z-index 99
    transition .2s opacity ease-out

    &:hover
        opacity .7

#bg-main-video
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    overflow: hidden
    z-index: 1

#main-video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 4


@media (min-aspect-ratio: 16/9) {
    #main-video {
        height: 300%
        top: -100%
    }
}

@media (max-aspect-ratio: 16/9) {
    #main-video {
        width: 300%
        left: -100%
    }
}
