.app.error
    width 760px
    // display table
    position absolute
    top 0
    color: white
    text-align: center
    bottom 0
    left 0
    right 0
    height 100px
    margin auto
    z-index 99
    font-family: 'Gill Sans', serif
    font-size: 20px

    .button
        width: 240px
        height: 50px
        line-height: 50px

    .p
        font-weight 200
        line-height 24px
        margin-bottom 16px
