@font-face
    font-family: 'Gill Sans'
    src: url('fonts/GillSans/GillSans-Light.woff') format('woff')
    font-style: normal
    font-weight: 200

@font-face
    font-family: 'Gill Sans'
    src: url('fonts/GillSans/GillSans-SemiBold.woff') format('woff')
    font-style: normal
    font-weight: 700

@font-face
    font-family: 'Intro'
    src: url('fonts/Intro/Intro-Regular.woff') format('woff')
    font-style: normal
    font-weight: 400
