form
	label
		display inline-block
		max-width 100%
		margin-bottom 7px
		font-weight 700

	input.error
		background #FFE8E8

	select.error
		background #FFE8E8

	label.error
		margin-top 6px
		font-size 14px
		color #b00

	input[type=file]
		font-size: 14px
		position: relative
		border: none
		padding: 13px
		cursor: pointer
