.measure
    color: white

    .heartrate
        position: absolute
        z-index: 5
        font-size: 24px
        font-weight: bold
        font-family: 'Gill Sans'
        top: 27px
        left: 102px
        display: none

        span
            font-size: 16px
            font-weight: 200

    .measure-top
        width: 100%
        height: 145px
        background: url('images/backgrounds/measure-top.png') repeat-x
        position: absolute
        z-index 4
        opacity: .6
        top: 0
        display: none

    .measure-bottom
        width: 100%
        height: 145px
        background: url('images/backgrounds/measure-bottom.png') repeat-x
        position: absolute
        z-index 4
        opacity: .6
        bottom: 0
        display: none

    #progress
        width 600px
        height 2px
        position absolute
        bottom 20px
        left 0
        right 0
        margin auto
        z-index 99
        background rgba(255, 255, 255, .4)
        display none

        #progress-bar
            height 2px
            background white
            display block
            width 0
            z-index 100
