.click-area
    color: white
    font-weight: 700
    font-size: 14px
    text-transform: uppercase
    cursor: pointer
    position: absolute
    top: 20px
    right: 20px
    transition: transform .2s ease
    z-index: 99

    &:hover
        transform: scale(1.1)

.browsers-popup
    position: absolute
    width: inherit
    height: inherit
    background: transparent
    top: 0
    bottom: 0
    right: 0
    left: 0
    font-family: 'Gill Sans', serif
    z-index: 10001
    display: none

    .overlay
        width: inherit
        height: inherit
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        opacity: 0
        margin: auto
        background: black

    .content
        text-align: center
        z-index: 9992
        position: absolute
        padding: 30px
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        width: 552px
        height: 100px
        background: #fff
        color: #60257e
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
        // display:none

        .content-header
            font-size: 16px
            font-weight: 700
            text-transform: uppercase
            margin-bottom: 15px

        p
            font-size: 18px
            font-weight: 200
            line-height: 22px
            margin-bottom: 15px

        .content-close
            position: absolute
            font-size: 26px
            cursor: pointer
            top: 10px
            right: 10px
            transition: transform .2s ease

            &:hover
                transform: scale(1.4)

.about-popup
    position: absolute
    width: inherit
    height: inherit
    background: transparent
    top: 0
    bottom: 0
    right: 0
    left: 0
    font-family: 'Gill Sans', serif
    z-index: 10001
    display: none

    .overlay
        width: inherit
        height: inherit
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        opacity: 0
        margin: auto
        background: black

    .content
        z-index: 9992
        position: absolute
        padding: 30px
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        width: 552px
        height: 475px
        background: #fff
        color: #60257e
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
        display:none

        .content-header
            font-size: 16px
            font-weight: 700
            text-transform: uppercase
            margin-bottom: 15px

        p
            font-size: 18px
            font-weight: 200
            line-height: 22px
            margin-bottom: 15px

        .content-close
            position: absolute
            font-size: 26px
            cursor: pointer
            top: 10px
            right: 10px
            transition: transform .2s ease

            &:hover
                transform: scale(1.4)

.lost-popup
    position: absolute
    width: inherit
    height: inherit
    background: transparent
    top: 0
    bottom: 0
    right: 0
    left: 0
    font-family: 'Gill Sans', serif
    z-index: 10001
    display: none

    .overlay
        width: inherit
        height: inherit
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        opacity: 0
        margin: auto
        background: black

    .content
        z-index: 9992
        position: absolute
        padding: 47px 0
        top: 0
        right: 0
        bottom: 0
        left: 0
        text-align: center
        margin: auto
        width: 304px
        height: 201px
        background: #fff
        color: #60257e
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
        display:none

        p
            font-size: 18px
            font-weight: 200
            line-height: 22px
            margin-bottom: 15px

        .button
            width: 214px
            height: 50px
            line-height: 50px
            border: 1px solid #60257e
            color: #60257e

            &:hover
                background-color: rgba(96, 37, 126, .14)

        .content-close
            position: absolute
            font-size: 26px
            cursor: pointer
            top: 10px
            right: 10px
            transition: transform .2s ease

            &:hover
                transform: scale(1.4)
