@keyframes beated {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.beated
    animation-name: beated
    animation-duration: .8s
    animation-iteration-count: infinite

.small-heart-logo
    width 59px
    position absolute
    z-index 99
    top 20px
    left 25px

.disclaimer
    font-size 16px
    font-weight 200
    color rgba(255, 255, 255, .7)
    position absolute
    bottom 27px
    width 100%
    text-align: center
    font-family: 'Gill Sans', sans-serif
    font-weight: 200

.prepare
    .bgs
        .background
            background: url(images/backgrounds/prepare.jpg)
            background-size: cover

.manual
    // text-shadow: 0px 1px 0px #3f0244
    width 795px
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    height 300px
    margin auto
    z-index 99
    text-align: center
    color: white
    font-family: 'Gill Sans', sans-serif
    font-weight: 200

    .manual__steps
        padding 0 0 35px 0
        display table
        width 100%

        .manual__step
            display table-cell
            position relative
            vertical-align top

            .manual__step-icon
                margin 0 0 20px 0
                transition: transform .2s ease-out

                &:hover
                    transform: translateY(-10px)

                .manual__step-icon__img
                    height 143px

            .manual__step-icon__arrow
                width 46px
                margin 40px 30px 0 20px

            .manual__step-text
                font-size 20px
                line-height 22px
                font-weight 200

    .button
        width: 240px
        height: 50px
        line-height: 50px
