.result
	color: white
	height 100%
	text-align center

	.small-heart-logo
		cursor: pointer
		transition: transform .2s ease-out

		&:hover
			transform: scale(1.1)

	.measure-top
		width: 100%
		height: 145px
		background: url('images/backgrounds/measure-top.png') repeat-x
		position: absolute
		z-index 4
		opacity: .6
		top: 0

	.measure-bottom
		width: 100%
		height: 145px
		background: url('images/backgrounds/measure-bottom.png') repeat-x
		position: absolute
		z-index 4
		opacity: .6
		bottom: 0

	.bgs
		width: 100%
		height: 100%
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		margin: auto
		z-index: 0

		.background
			width: inherit
			height: inherit
			position: fixed
			top: 0
			left: 0
			right: 0
			left: 0
			margin: auto
			z-index: 0
			background: url(images/backgrounds/welcome.jpg)
			background-size: cover

		.overlay
			width: inherit
			height: inherit
			position: fixed
			top: 0
			left: 0
			right: 0
			left: 0
			margin: auto
			z-index: 1
			background: url(images/backgrounds/welcome-overlay.png)
			background-size: cover
			opacity: 0

		.pattern
			width: inherit
			height: inherit
			position: fixed
			top: 0
			left: 0
			right: 0
			left: 0
			margin: auto
			z-index: 2
			background: url(images/backgrounds/welcome-pattern.png)
			opacity: .7


	.heartrate
		position: absolute
		z-index: 5
		font-size: 24px
		font-weight: bold
		font-family: 'Gill Sans'
		top: 27px
		left: 102px

		span
			font-size: 16px
			font-weight: 200

	.child
		position absolute
		top 90px
		font-family: 'Gill Sans', serif
		left 20px
		text-align left
		width 385px
		padding: 20px
		z-index 9999
		background: #7b4994

		.child__name
			font-weight 700
			font-size 24px
			margin-bottom 10px

		.child__location
			font-weight 200
			font-size 16px
			margin-bottom 25px

		.child__description
			font-weight 200
			font-size 18px
			line-height 22px
			margin-bottom 15px

			.guardian
				border-bottom: 1px dashed white
				cursor: pointer
				position: relative
				height: 30px

				&:after
					content: ''
					background: url(images/sprites/question-icon.svg) left no-repeat
					position:absolute
					width: 19px
					height: 19px
					bottom: -1px
					right: -22px

				&:hover
					.guardian-text
						visibility: visible
						opacity: 1

					&:after
						background-position: -19px

				.guardian-text
					color: #60257e
					width: 380px
					height: 265px
					padding: 28px 40px
					cursor: text
					font-family: 'Gill Sans', serif
					font-size: 18px
					line-height: 22px
					position: absolute
					text-align: left
					bottom: -127px
					opacity: 0
					visibility: hidden
					left: 188px
					transition: opacity .2s ease
					background: url('images/popups/guardian-result.png') no-repeat

					&:hover
						opacity: 0

		.buttons-wrap
			margin-bottom 35px

			.button
				display block
				text-decoration none
				width: 100%
				height: 65px
				line-height: 65px
				font-size 20px
				background: transparent url('images/backgrounds/wings.png') no-repeat 50%
				transition: background-color .2s ease-out

				&:hover
					color white
					background-color: rgba(255, 255, 255, .2)

			.button-ask
				padding 12px 15px 10px 15px
				cursor pointer

		.child__sharing
			font-weight 200
			font-size 18px
			line-height 18px
			margin-bottom 15px

			.child__social
				margin-top: 15px

			.social-button
				color: white
				width: 40px
				height: 40px
				line-height: 40px

	.childrens-wrap
		white-space nowrap
		width 100%
		position absolute
		bottom 68px
		// height 154px

		.children__pulse
			display inline-block
			vertical-align middle

			.pulse
				width 85px
				display block
				height 171px
				// margin-bottom 30px

	.childrens-img-wrap
		white-space nowrap
		width 100%
		position absolute
		bottom 25px
		z-index: 5

		.children__img
			display inline-block
			vertical-align middle

		a
			display inline-block
			height 40px
			width 85px
			overflow hidden
			// box-sizing border-box
			// border 1px solid rgba(0, 0, 0, 0)
			// transition .2s border-color ease-out

			.children__overlay
				width: inherit
				height: inherit
				position: absolute
				background: black
				opacity: .5

			.children__border
				width 85px
				height 40px
				position absolute
				z-index: 1
				// transition .2s border-color ease-out
				// border 1px solid rgba(0, 0, 0, 0)

			&:hover
				.children__border
					border 1px solid white

			img
				width 100%

		.highlighted
			&:hover
				.children__border
					border none

			.children__overlay
				opacity 0
