.table
	width: 100%;
	background: #fff;
	margin: 1em 0;
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: none;
	border-radius: .28571429rem;
	text-align: left;
	color: rgba(0,0,0,.87);
	border-collapse: separate;
	border-spacing: 0;

	thead
		th
			cursor: auto;
			background: #f9fafb;
			text-align: inherit;
			color: rgba(0,0,0,.87);
			padding: 1em
			vertical-align: inherit;
			font-style: none;
			font-weight: 700;
			text-transform: none;
			border-bottom: 1px solid rgba(34,36,38,.1);
			border-left: none;
	tbody
		line-height: 1.3

		tr
			border-bottom: 1px solid rgba(0,0,0,.1);

			td
				padding: 1em;
				text-align: inherit;
				border-top: 1px solid rgba(34,36,38,.1);

				a
					color: #0B62C8
					text-decoration: none
					border-bottom: 1px solid rgba(10,98,200,.4)
					line-height: 1.3
					height: 21px
					margin-right: 40px
					transition: color .14s ease-out, border-color .14s ease-out

					&:hover
						color: #d04000!important
						border-bottom-color: rgba(208,64,0,.2)!important

			&:first-child
				td
					border-top: none
