body
	.app
		.about-popup
			.content
				.content-header О проекте
				p Проект «Сердце подскажет» — это возможность с помощью инновационных технологий прислушаться к своему сердцу.<br>Ведь именно сердце движет теми, кто совершает добрые поступки, меняет к лучшему чью-то жизнь, пусть и чуть-чуть.<br>Именно оно подсказывает нам верные решения, не дает оставаться безучастными к чужим проблемам. 
				p Благотворительный фонд «Измени одну жизнь» собрал самую большую в России базу видеоанкет детей из детских домов.<br>В рамках этого проекта каждый сможет узнать, что чувствует сердце при просмотре этих анкет, как оно реагирует.
				p Мы не призываем сразу же забирать в семьи детей, на которых укажет сердце. Это весьма ответственное решение, к которому важно быть готовым. Проект «Сердце подскажет» создан, чтобы показать, что проблемы детей-сирот близки каждому, у кого есть сердце, и напомнить, что каждый может помочь кому-то из них<br>в самом главном — найти семью.
				.content-close &times;
			.overlay
		
		.browsers-popup
			.content
				p К сожалению, ваш браузер не поддерживается. <br>Попробуйте открыть сайт в Chrome, Firefox или Opera.
				.content-close &times;
			.overlay
		
		.lost-popup
			.content
				.content-close.startOver &times;
				p Похоже, веб-камера не может<br>найти вас в кадре.
				.button.startOver Начать заново
			.overlay
		
		.click-area О проекте
		
		.content {{> Template.dynamic template=yield}}
		
		.bgs
			.fullscreen-bg
				video(loop muted autoplay).fullscreen-bg__video
						source(src="videos/bg/childrens-bg.mp4" type="video/mp4")
			.overlay
			.pattern

		#bg-main-video
			if Template.subscriptionsReady
				video(style="visibility: hidden")#main-video
					source(src="{{videos.url}}" type="video/mp4")

		a.change-one-life-logo(href="http://changeonelife.ru/" target="_blank")
