template(name="adminPanel")
	.adminPanel
		.h3 Участвуют в акции
			small.logout Выход

		table.table
				thead
					tr
						th #
						th Имя
						th Локация
						th Url
						th 

				tbody
					each childrens
						tr
							td {{count @index}}
							td {{name}}
							td {{location}}
							td
								<a href="{{url}}" target="_blank">{{url}}</a>
							td: a.delete-button(href="#"): span Удалить
							
		br
		br
		a(href="/admin/add/children" class="btn btn-default add-children" )
			.fa.fa-user 
			| Добавить запись
			
		a(href="/admin/add/video" class="btn btn-default add-video" )
			.fa.fa-video-camera 
			| Добавить видео
