template(name='error')            
    img.small-heart-logo(src='images/icons/logo-heart.svg')
    
    .error    
        p.p К сожалению, сайт не работает без веб-камеры. <br> Подключите ее и попробуйте снова!
        .button.goIndex На главную
