template(name='check')           
    img.small-heart-logo.beated(src='images/icons/logo-heart.svg')
    
    .check
        .check-step
            img.check-step__icon(src="images/icons/icon-check-1.svg")
            .check-step__text Для наилучшего результата сядьте поближе к камере
            
        .check-progress    
            .check-step__progress-percents {{percentage}}%
            .check-step__progress-icon
            .check-step__progress-text Идет настройка камеры   
            
    .measure
        .heartrate {{heartrate}} <span>точность &#60; 100%</span>
        .measure-top
        .measure-bottom
        
        #progress(value="0" min="0")
            span#progress-bar
