template(name="welcome")
	.welcome  
		.step1
			.big-logo
				.big-logo__top Проект
				.big-logo__middle Сердце пoдскажет
				.big-logo__bottom
					img(src='images/icons/logo-heart.svg')
					
			.text 
				p Это возможность с помощью инновационных технологий прислушаться к своему сердцу. 
				p Именно сердце движет теми, кто совершает добрые поступки.
					
			.scroll-down
				p Как сердце может подсказать?
				
				.chevrons.blinking.slide1
					.ch.c-1: img(src="images/svg/chevron-down.svg")
					.ch.c-2: img(src="images/svg/chevron-down.svg")
					.ch.c-3: img(src="images/svg/chevron-down.svg")
					.ch.c-4: img(src="images/svg/chevron-down.svg")
					.ch.c-5: img(src="images/svg/chevron-down.svg")
			
		.step2
			
			.text
				p На сайте используется технология измерения пульса 
				p через веб-камеру при просмотре видеоанкеты ребенка.
				
				.pc-icon.image
					
			.scroll-down
				p Как проект помогает?

				.chevrons.blinking.slide2
					.ch.c-1: img(src="images/svg/chevron-down.svg")
					.ch.c-2: img(src="images/svg/chevron-down.svg")
					.ch.c-3: img(src="images/svg/chevron-down.svg")
					.ch.c-4: img(src="images/svg/chevron-down.svg")
					.ch.c-5: img(src="images/svg/chevron-down.svg")

		.step3

			.text
				p Вы можете помочь ребенку, став для него
					span.guardian Ангелом-Хранителем.
						span.guardian-text Ангелы-хранители — это те, кто пока<br>не готов взять ребенка в семью,<br>но искренне переживает и хочет<br>помочь. Они распространяют информацию в социальных сетях, становясь связующим звеном между детьми из приютов и приемными родителями, помогая ребятам в самом главном — найти любящую семью.
				p Каждый 3-й ребенок, у которого появился Ангел-Хранитель, находит любящую семью.

				.angel-icon.image

			.scroll-down
				p На кого укажет ваше сердце?

				.button.goNext Узнать
