template(name="addChildren")
	.add
		.addChildren
			.h3 Добавить запись

			form
				.form-group
					label Имя:
					input(type="text" class="form-control" name="name")

				.form-group
					label Локация:
					input(type="text" class="form-control" name="location")

				.form-group
					label Url:
					input(type="text" class="form-control" name="url")

				.form-group
					label Фотография:
					input(type="file" readonly="" name="image").file-upload

				br
				br
				button(type="submit" class="btn btn-default" )
					.fa.fa-check
					| Сохранить

				a(href="/admin/" class="btn btn-danger cancel" )
					.fa.fa-times
					| Отмена
