template(name="login")
	.login
		form
			.form-group
				label Email:
				input(type="email" class="form-control" name="email" placeholder="admin@changeonelife.ru")
				
			.form-group
				label Password:
				input(type="password" class="form-control" name="password" placeholder="******")
				
			button(type="submit" class="btn btn-default") Вход
